<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="css/app.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_pt-br.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>	
	<script src="js/app.js"></script>
	<script src="js/controllers/listaTelefonicaCtrl.js"></script>
	<script src="js/services/contatosAPIService.js"></script>
	<script src="js/services/operadorasAPIService.js"></script>
	<script src="js/services/serialGeneratorService.js"></script>
	<script src="js/config/serialGeneratorConfig.js"></script>
	<script src="js/value/configValue.js"></script>
	<script src="js/constant/config2Constant.js"></script>
	<script src="js/filters/nameFilter.js"></script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="container">
		<div class="jumbotron">
			<h1 ng-bind="app"></h1>			
			
			{{ message }}

			<input class="form-control" placeholder="O que você está buscando?" type="text" ng-model="busca" />
			
			<table ng-if="contatos.length > 0" class="table table-bordered">
				<tr>
					<th></th>
					<th>Serial</th>
					<th><a href="" ng-click="ordenarPor('nome')">Nome</a></th>
					<th><a href="" ng-click="ordenarPor('telefone')">Telefone</a></th>				
					<th>Operadora</th>	
					<th>Cor</th>
					<th>Data</th>	
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos | orderBy:criterioOrdenacao:direcaoOrdenacao |filter:{nome:busca}">
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{ contato.serial }}</td>
					<td>{{ contato.nome | name }}</td>
					<td>{{ contato.telefone }}</td>
					<td>{{ contato.operadora.nome | lowercase }}</td>
					<td><div style="width:20px; height:20px" ng-style="{'background-color': contato.cor}"></div></td>
					<td>{{ contato.data | date:'EEEE dd/MM/yyyy hh:mm:ss' }}</td>
				</tr>
			</table>
			
			<!-- formulário adicionar -->
			<form name="contatoForm">
				<input class="form-control" placeholder="Nome" type="text" name="nome" ng-model="contato.nome" ng-required="true" ng-minlength="10" />
				<input class="form-control" placeholder="Telefone" type="text" name="telefone" ng-model="contato.telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" />
				<select class="form-control" name="operadora" ng-model="contato.operadora" ng-options="operadora.nome + ' (' + (operadora.preco | currency ) + ')' for operadora in operadoras | orderBy:'nome'" ng-required="true">
					<option value="">Selecione uma operadora</option>				
				</select>
				<button class="btn btn-lg btn-primary btn-block" ng-disabled="contatoForm.$invalid" ng-click="adicionarContato(contato)">Adicionar</button>
				<button class="btn btn-lg btn-danger btn-block" ng-if="isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)">Apagar contatos</button>
				
				<div ng-show="contatoForm.nome.$dirty" ng-messages="contatoForm.nome.$error">
					<div ng-message="required" class="alert alert-danger" >Por favor preencha o nome</div>
					<div ng-message="minlength" class="alert alert-danger" >O nome deve ter 10 caracteres</div>	
				</div>

				<div ng-show="contatoForm.telefone.$dirty" ng-messages="contatoForm.telefone.$error">
					<div ng-message="required" class="alert alert-danger" >Por favor preencha o telefone</div>
					<div ng-message="pattern" class="alert alert-danger" >O campo telefone deve ter o formato 9999-9999</div>
				</div>

				<div ng-show="contatoForm.operadora.$dirty" ng-messages="contatoForm.operadora.$error">
					<div ng-message="required" class="alert alert-danger" >Por favor preencha a operadora</div>
				</div>				
			</form>
		</div>
		<div ng-include="'view/footer.html'"></div>
	</div>
</body>
</html>