<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8">
	<title>Lista Telefônica</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<style>
		.selecionado {
			background: yellow;
		}
		.negrito{
			font-weight: bold;
		}
	</style>
	<script>
		angular.module("listaTelefonica",[]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			$scope.app = "Lista Telefônica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "99999998"},
				{nome: "Ana", telefone: "99999998"},
				{nome: "maria", telefone: "99999998"},
			];
			$scope.operadoras = [
				{nome:"Oi", codigo:31, categoria: "Celular"},
				{nome:"Vivo", codigo:15, categoria: "Celular"},
				{nome:"Tim", codigo:41, categoria: "Celular"},
				{nome:"GTV", codigo:25, categoria: "Fixo"},
				{nome:"Embratel", codigo:21, categoria: "Fixo"},
			];

			$scope.adicionarContato = function(contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
			}

			$scope.apagarContatos = function(contatos){
				$scope.contatos = contatos.filter(function(contato){
					if(!contato.selecionado){
						return contato;
					}					
				});
			}
			$scope.isContatoSelecionado = function(contatos) {
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			}
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="container">
		<div class="jumbotron">
			<h3 ng-bind="app"></h3>			
			<table class="table table-bordered">
				<tr>
					<th></th>
					<th>Nome</th>
					<th>Telefone</th>				
					<th>Operadora</th>				
				</tr>
				<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
					<td><input type="checkbox" ng-model="contato.selecionado" /></td>
					<td>{{ contato.nome }}</td>
					<td>{{ contato.telefone }}</td>
					<td>{{ contato.operadora }}</td>
				</tr>
			</table>
			<input class="form-control" placeholder="Nome" type="text" ng-model="contato.nome">
			<input class="form-control" placeholder="Telefone" type="text" ng-model="contato.telefone">
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>				
			</select>
			<button class="btn btn-lg btn-primary btn-block" ng-disabled="!contato.nome || !contato.telefone" ng-click="adicionarContato(contato)">Adicionar</button>
			<button class="btn btn-lg btn-danger btn-block" ng-disabled="!isContatoSelecionado(contatos)" ng-click="apagarContatos(contatos)">Apagar contatos</button>
		</div>
	</div>
</body>
</html>